<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

{%load static%}
<link href="{% static "AdminDetail.css" %}" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>


  
  <div class="rounded">
    <img src="{% static "image/logo.jpg" %}" alt="My image" width="150px" height="150px"  align="center" style="margin-left:70px ; margin-bottom:10px">
</div>

 

    <div class="split left">
 
    
  <a style="color:cornsilk" href="home">Home</a>
  <hr style="color:cornsilk">
    <a style="color:cornsilk" href="course">Course</a>
    <hr style="color:cornsilk">
    <a style="color:cornsilk" href="student">Students</a>
    <hr style="color:cornsilk">
    <a style="color:cornsilk" href="subjects">Subjects</a>
    <hr style="color:cornsilk">
    <a style="color:cornsilk" href="faculties">Faculties</a>
    <hr style="color:cornsilk">
    <a style="color:cornsilk" href="timeTable">Time Table</a>
    <hr style="color:cornsilk">
    <a style="color:cornsilk" href="users">Users</a>
    <hr style="color:cornsilk">
    <a style="color:cornsilk" href="studentFine">StudentFine</a>
    <hr style="color:cornsilk">
    <a style="color:cornsilk"href="projectReport">Project Report</a>
    <hr style="color:cornsilk">
    
    <a style="color:cornsilk" href="syllabus">Syllabus</a>
    <hr style="color:cornsilk">
    <a style="color:cornsilk"href="assignments">Assignments</a>
    <hr style="color:cornsilk">
    <a style="color:cornsilk" href="assignSubject">Assign Subject</a>
    <hr style="color:cornsilk">
    <a style="color:cornsilk" href="enterMarks">Enter Marks</a>
    <hr style="color:cornsilk">
    <a style="color:cornsilk" href="markAttendance">Mark Attendance</a>
    <hr style="color:cornsilk">
    <a style="color:cornsilk" href="attendanceReport">Attendance Report</a>
    <hr style="color:cornsilk">
    <a style="color:cornsilk" href="searchStudent">Search Student</a>
  
</div>

<div class="split right">
 <div id="div1"></div>
    <h2>John Doe</h2>
    <p>Some text here too.</p>
   
  
</div>
<!-- <script>
  $(document).ready(function(){
    $("a").click(function(){
      $("#div1").load("admin.html")
    })
  })
</script> -->