<!DOCTYPE html>
{%load static%}
<html>
    <head>
        <title>
            Kantipur City College 
        </title>
        <img src={% static "image/logo.jpeg" %} alt="Italian Trulli" class="logo float-right" style="width:500px;height:100px;">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>
    <body>
       
      <div class="container">
        <form action="adminpannel" method="POST">
          {% csrf_token %}
          <div class="row ">
            <div class="col col-4">
              First Name
              <input type="text" class="form-control" placeholder="Student First Name" id="std_fname" name="std_fname">
            </div>
            <div class="col col-4">
              Last Name
              <input type="text" class="form-control" placeholder="Student Last Name" id="std_lname" name="std_lname">
            </div>
          </div>

          

          <div class="row ">
              <div class="col col-4">
                Current Address
                <input type="text" class="form-control" placeholder="Current Address" id="c_address" name="c_address">
              </div>
              <div class="col col-4">
                Parnament Address
                <input type="text" class="form-control" placeholder="Parnament Address" id="p_address" name="p_address">
              </div>
            </div>

            <div class="row ">
                <div class="col col-4">
                  Student Phone Number
                  <input type="number" class="form-control" placeholder="" id="s_contact" name="s_contact">
                </div>
                <div class="col col-4">
                  Email Address
                  <input type="text" class="form-control" placeholder="" id="s_email" name="s_email">
                </div>
              </div>


              <div class="row ">
                  <div class="col col-4">
                    Student Id
                    <input type="text" class="form-control" placeholder="" id="s_id" name="s_id">
                  </div>
                  <div class="col col-4" >
                      Student Photo
                      <div class="input-group mb-3">
                         
                          <div class="custom-file">
                            <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                            <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                          </div>
                        </div>
                  </div>
                </div>

              <hr>
              <div class="row ">
                  <div class="col col-4">
                    Father First Name
                    <input type="text" class="form-control" placeholder="Father Name" id="std_father_name" name="std_father_name">
                  </div>
                  <div class="col col-4">
                    Father Last Name
                    <input type="text" class="form-control" placeholder="Father Last Name" id="std_father_ln" name="std_father_ln">
                  </div>
              </div>

              <div class="row ">
                  <div class="col col-4">
                    Parents Contact Number
                    <input type="number" class="form-control" placeholder="" id="p_contact" name="p_contact">
                  </div>
                  <div class="col col-4">
                    Parents Email Address
                    <input type="text" class="form-control" placeholder="" id="p_email" name="p_email">
                  </div>
                </div>

              
        </form>
        <a href="marksheet"><button class="btn btn-outline-secondary" type="button">Register</button></a>
      </div> 
    </body>
</html>